{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block tabs %}
  {% if user.is_authenticated %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block footer %}
{% if user.is_authenticated %}
    {{ block.super }}
{% else %}
    <footer>
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-right">
            {% block contactus %}
            {% endblock contactus %}
            <ul class="list-unstyled">
            <li>{% trans "Powered by" %} <a href="http://geonode.org">{% trans "GeoNode" %}</a>{% if user.is_staff %} <em>{% trans "version" %} {{ VERSION }}</em>{% endif %}</li>
            <li><a href="{% url "developer" %}">{% trans "Developers" %}</a> | <a href="{% url "about" %}">{% trans "About" %}</a><li>
            </ul>
            <label class="hidden">{% trans "Language" %}</label>
            {% if csrf_token != "NOTPROVIDED" %}
            {% get_current_language as LANGUAGE %}
            <form class="form-inline" action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                {{ lang.1 }}
                </option>
                {% endfor %}
            </select>
            </form>
            {% endif %}
        </div>
        </div>
    </div>
    </footer>

    {% if custom_theme.copyright %}
    <section class="footer-copyright">
        <div class="container">
        <div class="row">
            <div class="col-md-12 copyright ">
            <div class="module">
                <small>{{ custom_theme.copyright|safe }}</small>
            </div>
            </div>
        </div>
        </div>
    </section>
    {% endif %}
{% endif %}

{% endblock footer %}